{:sections
 [{:key :fixes :regex ".*#\\d+.*" :title "New features, bugfixes"}
  {:key :wip :regex ".*\\[[Ww][iI][pP]\\].*" :title  "Work in progress, not yet ready"}]
 :formattable-objects
 [{:template "[#$1](https://github.com/%1$s/%2$s/issues/$1)" :regex "#(\\d+)"}
  {:template "[$2: $3](https://github.com/$2/issues/$3)" :regex "(([_\\w/-]+)#(\\d+))"}
  {:template "`$1`" :regex "(\\[refactor\\])"}
  {:template "$1  " :regex "(\\n)"}]

 ;; directory for custom templates. should contain a template named changelog.mustache
 ;; which might include other templates mustache style with {{> othertemplate}}
 :template-dir "md-templates"

 ;; file extension for the output
 :output-extension ".md"}
